<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sanity Suite">
    <parameter name="BaseURI" value="http://base-uri.com"/>
    <parameter name="YourProperty" value="${propertyName}" />
    <test name="Sanity test">
        <classes>
            <class name="suites.users.Users">
                <methods>
                    <include name="createUser"/>
                    <include name="readUser"/>
                    <include name="updateUser"/>
                    <include name="deleteUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
